ZMK_UNICODE_PAIR(n_tilde,   N0, N0, F, N1,   N0, N0, D, N1) // ñ/Ñ
ZMK_UNICODE_PAIR(NTILDE,   N0, N0, F, N1,   N0, N0, D, N1) // ñ/Ñ

// Letters forms
ZMK_UNICODE_PAIR(el_alpha,       N0, N3,  B, N1,    N0, N3, N9, N1) // α/Α
ZMK_UNICODE_PAIR(el_beta,        N0, N3,  B, N2,    N0, N3, N9, N2) // β/Β
ZMK_UNICODE_PAIR(el_gamma,       N0, N3,  B, N3,    N0, N3, N9, N3) // γ/Γ
ZMK_UNICODE_PAIR(el_delta,       N0, N3,  B, N4,    N0, N3, N9, N4) // δ/Δ
ZMK_UNICODE_PAIR(el_epsilon,     N0, N3,  B, N5,    N0, N3, N9, N5) // ε/Ε
ZMK_UNICODE_PAIR(el_zeta,        N0, N3,  B, N6,    N0, N3, N9, N6) // ζ/Ζ
ZMK_UNICODE_PAIR(el_eta,         N0, N3,  B, N7,    N0, N3, N9, N7) // η/Η
ZMK_UNICODE_PAIR(el_theta,       N0, N3,  B, N8,    N0, N3, N9, N8) // θ/Θ
ZMK_UNICODE_PAIR(el_iota,        N0, N3,  B, N9,    N0, N3, N9, N9) // ι/Ι
ZMK_UNICODE_PAIR(el_kappa,       N0, N3,  B,  A,    N0, N3, N9,  A) // κ/Κ
ZMK_UNICODE_PAIR(el_lambda,      N0, N3,  B,  B,    N0, N3, N9,  B) // λ/Λ
ZMK_UNICODE_PAIR(el_mu,          N0, N3,  B,  C,    N0, N3, N9,  C) // μ/Μ
ZMK_UNICODE_PAIR(el_nu,          N0, N3,  B,  D,    N0, N3, N9,  D) // ν/Ν
ZMK_UNICODE_PAIR(el_xi,          N0, N3,  B,  E,    N0, N3, N9,  E) // ξ/Ξ
ZMK_UNICODE_PAIR(el_omikron,     N0, N3,  B,  F,    N0, N3, N9,  F) // ο/Ο
ZMK_UNICODE_PAIR(el_pi,          N0, N3,  C, N0,    N0, N3,  A, N0) // π/Π
ZMK_UNICODE_PAIR(el_rho,         N0, N3,  C, N1,    N0, N3,  A, N1) // ρ/Ρ
ZMK_UNICODE_PAIR(el_final_sigma, N0, N3,  C, N2,    N0, N3,  A, N3) // ς/Σ
ZMK_UNICODE_PAIR(el_sigma,       N0, N3,  C, N3,    N0, N3,  A, N3) // σ/Σ
ZMK_UNICODE_PAIR(el_tau,         N0, N3,  C, N4,    N0, N3,  A, N4) // τ/Τ
ZMK_UNICODE_PAIR(el_upsilon,     N0, N3,  C, N5,    N0, N3,  A, N5) // υ/Υ
ZMK_UNICODE_PAIR(el_phi,         N0, N3,  D, N5,    N0, N3,  A, N6) // φ/Φ
ZMK_UNICODE_PAIR(el_chi,         N0, N3,  C, N7,    N0, N3,  A, N7) // χ/Χ
ZMK_UNICODE_PAIR(el_psi,         N0, N3,  C, N8,    N0, N3,  A, N8) // ψ/Ψ
ZMK_UNICODE_PAIR(el_omega,       N0, N3,  C, N9,    N0, N3,  A, N9) // ω/Ω

// Symbol forms
ZMK_UNICODE_PAIR(el_epsilon_sym, N0, N3,  F, N5,    N0, N3, N9, N5) // ϵ/Ε
ZMK_UNICODE_PAIR(el_theta_sym,   N0, N3,  D, N1,    N0, N3, N9, N8) // ϑ/Θ
ZMK_UNICODE_PAIR(el_kappa_sym,   N0, N3,  F, N0,    N0, N3, N9,  A) // ϰ/Κ
ZMK_UNICODE_PAIR(el_pi_sym,      N0, N3,  D, N6,    N0, N3,  A, N9) // ϖ/Ω
ZMK_UNICODE_PAIR(el_rho_sym,     N0, N3,  F, N1,    N0, N3,  A, N1) // ϱ/Ρ
ZMK_UNICODE_PAIR(el_phi_sym,     N0, N3,  C, N6,    N0, N3,  A, N6) // φ/Φ

// Common Letters
ZMK_UNICODE_PAIR(ru_a    ,    N0 , N4 , N3 , N0 ,    N0 , N4 , N1 , N0) // а/А
ZMK_UNICODE_PAIR(ru_b    ,    N0 , N4 , N3 , N1 ,    N0 , N4 , N1 , N1) // б/Б
ZMK_UNICODE_PAIR(ru_v    ,    N0 , N4 , N3 , N2 ,    N0 , N4 , N1 , N2) // в/В
ZMK_UNICODE_PAIR(ru_g    ,    N0 , N4 , N3 , N3 ,    N0 , N4 , N1 , N3) // г/Г
ZMK_UNICODE_PAIR(ru_d    ,    N0 , N4 , N3 , N4 ,    N0 , N4 , N1 , N4) // д/Д
ZMK_UNICODE_PAIR(ru_ye   ,    N0 , N4 , N3 , N5 ,    N0 , N4 , N1 , N5) // е/Е
ZMK_UNICODE_PAIR(ru_yo   ,    N0 , N4 , N5 , N1 ,    N0 , N4 , N0 , N1) // ё/Ё
ZMK_UNICODE_PAIR(ru_zh   ,    N0 , N4 , N3 , N6 ,    N0 , N4 , N1 , N6) // ж/Ж
ZMK_UNICODE_PAIR(ru_z    ,    N0 , N4 , N3 , N7 ,    N0 , N4 , N1 , N7) // з/З
ZMK_UNICODE_PAIR(ru_i    ,    N0 , N4 , N3 , N8 ,    N0 , N4 , N1 , N8) // и/И
ZMK_UNICODE_PAIR(ru_y    ,    N0 , N4 , N3 , N9 ,    N0 , N4 , N1 , N9) // й/Й
ZMK_UNICODE_PAIR(ru_k    ,    N0 , N4 , N3 ,  A ,    N0 , N4 , N1 ,  A) // к/К
ZMK_UNICODE_PAIR(ru_l    ,    N0 , N4 , N3 ,  B ,    N0 , N4 , N1 ,  B) // л/Л
ZMK_UNICODE_PAIR(ru_m    ,    N0 , N4 , N3 ,  C ,    N0 , N4 , N1 ,  C) // м/М
ZMK_UNICODE_PAIR(ru_n    ,    N0 , N4 , N3 ,  D ,    N0 , N4 , N1 ,  D) // н/Н
ZMK_UNICODE_PAIR(ru_o    ,    N0 , N4 , N3 ,  E ,    N0 , N4 , N1 ,  E) // о/О
ZMK_UNICODE_PAIR(ru_p    ,    N0 , N4 , N3 ,  F ,    N0 , N4 , N1 ,  F) // п/П
ZMK_UNICODE_PAIR(ru_r    ,    N0 , N4 , N4 , N0 ,    N0 , N4 , N2 , N0) // р/Р
ZMK_UNICODE_PAIR(ru_s    ,    N0 , N4 , N4 , N1 ,    N0 , N4 , N2 , N1) // с/С
ZMK_UNICODE_PAIR(ru_t    ,    N0 , N4 , N4 , N2 ,    N0 , N4 , N2 , N2) // т/Т
ZMK_UNICODE_PAIR(ru_u    ,    N0 , N4 , N4 , N3 ,    N0 , N4 , N2 , N3) // у/У
ZMK_UNICODE_PAIR(ru_f    ,    N0 , N4 , N4 , N4 ,    N0 , N4 , N2 , N4) // ф/Ф
ZMK_UNICODE_PAIR(ru_kh   ,    N0 , N4 , N4 , N5 ,    N0 , N4 , N2 , N5) // х/Х
ZMK_UNICODE_PAIR(ru_ts   ,    N0 , N4 , N4 , N6 ,    N0 , N4 , N2 , N6) // ц/Ц
ZMK_UNICODE_PAIR(ru_ch   ,    N0 , N4 , N4 , N7 ,    N0 , N4 , N2 , N7) // ч/Ч
ZMK_UNICODE_PAIR(ru_sh   ,    N0 , N4 , N4 , N8 ,    N0 , N4 , N2 , N8) // ш/Ш
ZMK_UNICODE_PAIR(ru_shch ,    N0 , N4 , N4 , N9 ,    N0 , N4 , N2 , N9) // щ/Щ
ZMK_UNICODE_PAIR(ru_hard ,    N0 , N4 , N4 ,  A ,    N0 , N4 , N2 ,  A) // ъ/Ъ
ZMK_UNICODE_PAIR(ru_bi   ,    N0 , N4 , N4 ,  B ,    N0 , N4 , N2 ,  B) // ы/Ы
ZMK_UNICODE_PAIR(ru_soft ,    N0 , N4 , N4 ,  C ,    N0 , N4 , N2 ,  C) // ь/Ь
ZMK_UNICODE_PAIR(ru_e    ,    N0 , N4 , N4 ,  D ,    N0 , N4 , N2 ,  D) // э/Э
ZMK_UNICODE_PAIR(ru_yu   ,    N0 , N4 , N4 ,  E ,    N0 , N4 , N2 ,  E) // ю/Ю
ZMK_UNICODE_PAIR(ru_ya   ,    N0 , N4 , N4 ,  F ,    N0 , N4 , N2 ,  F) // я/Я

// Special Letters
ZMK_UNICODE_PAIR(ru_yeyo ,    N0 , N4 , N3 ,  N5,    N0 , N4 , N5 , N1) // е/ё
ZMK_UNICODE_PAIR(ru_tone ,    N0 , N4 , N4 ,  C ,    N0 , N4 , N4 ,  A) // ь/ъ

/* Currency*/
ZMK_UNICODE_SINGLE(curr_dollar, N0, N0, N2, N4)  // $ (Dollar)
ZMK_UNICODE_SINGLE(curr_cent, N0, N0, A, N2)  // ¢ (Cent)
ZMK_UNICODE_SINGLE(curr_pound, N0, N0, A, N3)  // £ (Pound)
ZMK_UNICODE_SINGLE(curr_currency, N0, N0, A, N4)  // ¤ (Currency)
ZMK_UNICODE_SINGLE(curr_yen, N0, N0, A, N5)  // ¥ (Yen)
ZMK_UNICODE_SINGLE(curr_armenian_dram, N0, N5, N8, F)  // ֏ (Armenian Dram)
ZMK_UNICODE_SINGLE(curr_afghani_dram, N0, N6, N0, B)  // ؋ (Afghani)
ZMK_UNICODE_SINGLE(curr_nko_dorome, N0, N7, F, E)  // ߾ (Nko Dorome)
ZMK_UNICODE_SINGLE(curr_bengali_rupee1, N0, N9, F, N2)  // ৲ (Bengali Rupee Mark)
ZMK_UNICODE_SINGLE(curr_bengali_rupee2, N0, N9, F, N3)  // ৳ (Bengali Rupee)
ZMK_UNICODE_SINGLE(curr_bengali_ganda, N0, N9, F, B)  // ৻ (Bengali Ganda Mark)
ZMK_UNICODE_SINGLE(curr_gujarati_rupee, N0, A, F, N1)  // ૱ (Gujarati Rupee)
ZMK_UNICODE_SINGLE(curr_tamil_rupee, N0, B, F, N9)  // ௹ (Tamil Rupee)
ZMK_UNICODE_SINGLE(curr_thai_baht, N0, E, N3, F)  // ฿ (Thai Baht)
ZMK_UNICODE_SINGLE(curr_khmer_riel, N1, N7, D, B)  // ៛ (Khmer Riel)
ZMK_UNICODE_SINGLE(curr_colon, N2, N0, A, N1)  // ₡ (colon)
ZMK_UNICODE_SINGLE(curr_cruzeiro, N2, N0, A, N2)  // ₢ (Cruzeiro)
ZMK_UNICODE_SINGLE(curr_french_franc, N2, N0, A, N3)  // ₣ (French Franc)
ZMK_UNICODE_SINGLE(curr_lira, N2, N0, A, N4)  // ₣ (Lira)
ZMK_UNICODE_SINGLE(curr_mill, N2, N0, A, N5)  // ₥ (Mill)
ZMK_UNICODE_SINGLE(curr_naira, N2, N0, A, N6)  // ₦ (Naira)
ZMK_UNICODE_SINGLE(curr_peseta, N2, N0, A, N7)  // ₧ (Peseta)
ZMK_UNICODE_SINGLE(curr_legacy_rupee, N2, N0, A, N8)  // ₨ (Legacy Rupee)
ZMK_UNICODE_SINGLE(curr_won, N2, N0, A, N9)  // ₩ (Won)
ZMK_UNICODE_SINGLE(curr_new_sheqel, N2, N0, A, A)  // ₪ (New Sheqel)
ZMK_UNICODE_SINGLE(curr_dong, N2, N0, A, B)  // ₫ (Dong)
ZMK_UNICODE_SINGLE(curr_euro, N2, N0, A, C)  // € (Euro)
ZMK_UNICODE_SINGLE(curr_kip, N2, N0, A, D)  // ₭ (Kip)
ZMK_UNICODE_SINGLE(curr_tugrik, N2, N0, A, E)  // ₮ (Tugrik)
ZMK_UNICODE_SINGLE(curr_drachma, N2, N0, A, F)  // ₯ (Drachma)
ZMK_UNICODE_SINGLE(curr_german_penny, N2, N0, B, N0)  // ₰ (German Penny)
ZMK_UNICODE_SINGLE(curr_peso, N2, N0, B, N1)  // ₱ (Peso)
ZMK_UNICODE_SINGLE(curr_guarani, N2, N0, B, N2)  // ₲ (Guarani)
ZMK_UNICODE_SINGLE(curr_austral, N2, N0, B, N3)  // ₳ (Austral)
ZMK_UNICODE_SINGLE(curr_hryvnia, N2, N0, B, N4)  // ₴ (Hryvnia)
ZMK_UNICODE_SINGLE(curr_cedi, N2, N0, B, N5)  // ₵ (Cedi)
ZMK_UNICODE_SINGLE(curr_livre_tournois, N2, N0, B, N6)  // ₶ (Livre Tournois)
ZMK_UNICODE_SINGLE(curr_spesmilo, N2, N0, B, N7)  // ₷ (Spesmilo)
ZMK_UNICODE_SINGLE(curr_tenge, N2, N0, B, N8)  // ₸ (Tenge)
ZMK_UNICODE_SINGLE(curr_indian_rupee, N2, N0, B, N9)  // ₹ (Indian Rupee)
ZMK_UNICODE_SINGLE(curr_turkish_lira, N2, N0, B, A)  // ₺ (Turkish Lira)
ZMK_UNICODE_SINGLE(curr_nordic_mark, N2, N0, B, B)  // ₻ (Nordic Mark)
ZMK_UNICODE_SINGLE(curr_manat, N2, N0, B, C)  // ₼ (Manat)
ZMK_UNICODE_SINGLE(curr_ruble, N2, N0, B, D)  // ₽ (Ruble)
ZMK_UNICODE_SINGLE(curr_lari, N2, N0, B, E)  // ₾ (Lari)
ZMK_UNICODE_SINGLE(curr_bitcoin, N2, N0, B, F)  // ₿ (Bitcoin)
ZMK_UNICODE_SINGLE(curr_som, N2, N0, C, N0)  // ⃀ (Som)
ZMK_UNICODE_SINGLE(curr_north_indic_rupee, A, N8, N3, N8)  // ꠸ (North Indic Rupee)
ZMK_UNICODE_SINGLE(curr_rial, F, D, F, C)  // ﷼ (Rial)
ZMK_UNICODE_SINGLE(curr_wancho_ngun, F, D, F, C)  // 𞋿 (Wancho Ngun)