#include <physical_layouts.dtsi>

/ {
    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0      0     0     0>
            , <&key_physical_attrs 100 100    0    0      0     0     0>
            , <&key_physical_attrs 100 100    0    0      0     0     0>
            , <&key_physical_attrs 100 100    0    0      0     0     0>
            , <&key_physical_attrs 100 100    0    0      0     0     0>

            , <&key_physical_attrs 100 100  100   15      0     0     0>
            , <&key_physical_attrs 100 100  100   15      0     0     0>
            , <&key_physical_attrs 100 100  100   15      0     0     0>
            , <&key_physical_attrs 100 100  100   15      0     0     0>
            , <&key_physical_attrs 100 100  100   15      0     0     0>

            , <&key_physical_attrs 100 100  200   55      0     0     0>
            , <&key_physical_attrs 100 100  200   55      0     0     0>
            , <&key_physical_attrs 100 100  200   55      0     0     0>
            , <&key_physical_attrs 100 100  200   55      0     0     0>
            , <&key_physical_attrs 100 100  200   55      0     0     0>

            , <&key_physical_attrs 100 100  300   65      0     0     0>
            , <&key_physical_attrs 100 100  300   65      0     0     0>
            , <&key_physical_attrs 100 100  300   65      0     0     0>
            , <&key_physical_attrs 100 100  300   65      0     0     0>
            , <&key_physical_attrs 100 100  300   65      0     0     0>

            , <&key_physical_attrs 100 100  400   55      0     0     0>
            , <&key_physical_attrs 100 100  400   55      0     0     0>
            , <&key_physical_attrs 100 100  400   55      0     0     0>
            , <&key_physical_attrs 100 100  400   55      0     0     0>
            , <&key_physical_attrs 100 100  400   55      0     0     0>

            , <&key_physical_attrs 100 100  500   35      0     0     0>
            , <&key_physical_attrs 100 100  500   35      0     0     0>
            , <&key_physical_attrs 100 100  500   35      0     0     0>
            , <&key_physical_attrs 100 100  500   35      0     0     0>
            , <&key_physical_attrs 100 100  500   35      0     0     0>

            , <&key_physical_attrs 100 100  600  0       0     0     0>
            , <&key_physical_attrs 100 100  600  0       0     0     0>
            , <&key_physical_attrs 100 100  600  0       0     0     0>

            , <&key_physical_attrs 100 100  700  0       0     0     0>
            , <&key_physical_attrs 100 100  700  0       0     0     0>
            , <&key_physical_attrs 100 100  700  0       0     0     0>

            , <&key_physical_attrs 100 100  800   35     0     0     0>
            , <&key_physical_attrs 100 100  800   35     0     0     0>
            , <&key_physical_attrs 100 100  800   35     0     0     0>
            , <&key_physical_attrs 100 100  800   35     0     0     0>
            , <&key_physical_attrs 100 100  800   35     0     0     0>

            , <&key_physical_attrs 100 100  900  55       0     0     0>
            , <&key_physical_attrs 100 100  900  55       0     0     0>
            , <&key_physical_attrs 100 100  900  55       0     0     0>
            , <&key_physical_attrs 100 100  900  55       0     0     0>
            , <&key_physical_attrs 100 100  900  55       0     0     0>

            , <&key_physical_attrs 100 100  1000  65       0     0     0>
            , <&key_physical_attrs 100 100  1000  65       0     0     0>
            , <&key_physical_attrs 100 100  1000  65       0     0     0>
            , <&key_physical_attrs 100 100  1000  65       0     0     0>
            , <&key_physical_attrs 100 100  1000  65       0     0     0>

            , <&key_physical_attrs 100 100  1100  55      0     0     0>
            , <&key_physical_attrs 100 100  1100  55      0     0     0>
            , <&key_physical_attrs 100 100  1100  55      0     0     0>
            , <&key_physical_attrs 100 100  1100  55      0     0     0>
            , <&key_physical_attrs 100 100  1100  55      0     0     0>

            , <&key_physical_attrs 100 100  1200  15      0     0     0>
            , <&key_physical_attrs 100 100  1200  15      0     0     0>
            , <&key_physical_attrs 100 100  1200  15      0     0     0>
            , <&key_physical_attrs 100 100  1200  15      0     0     0>
            , <&key_physical_attrs 100 100  1200  15      0     0     0>

            , <&key_physical_attrs 100 100  1300  0       0     0     0>
            , <&key_physical_attrs 100 100  1300  0       0     0     0>
            , <&key_physical_attrs 100 100  1300  0       0     0     0>
            , <&key_physical_attrs 100 100  1300  0       0     0     0>
            , <&key_physical_attrs 100 100  1300  0       0     0     0>
            ;
    };
};