#include "jogrefer.dtsi"

&default_transform {
// The matrix transform for this board is 6 columns over because the left half is 6 columns wide according to the matrix.
	col-offset = <6>;
};

&kscan0 {
	col-gpios =
		<&gpio P010 GPIO_ACTIVE_HIGH>, // colunma 7 de la der
		<&gpio P111 GPIO_ACTIVE_HIGH>, // colunma 6 de la der
		<&gpio P113 GPIO_ACTIVE_HIGH>, // colunma 5 de la der
		<&gpio P115 GPIO_ACTIVE_HIGH>, // colunma 4 de la der
		<&gpio P002 GPIO_ACTIVE_HIGH>, // colunma 3 de la der
		<&gpio P029 GPIO_ACTIVE_HIGH>; // colunma 2 de la der
		<&gpio P031 GPIO_ACTIVE_HIGH>, // colunma 1 de la der
		<&gpio P031 GPIO_ACTIVE_HIGH>, // colunma 1 de la izq
		<&gpio P029 GPIO_ACTIVE_HIGH>; // colunma 2 de la izq
		<&gpio P002 GPIO_ACTIVE_HIGH>, // colunma 3 de la izq
		<&gpio P115 GPIO_ACTIVE_HIGH>, // colunma 4 de la izq
		<&gpio P113 GPIO_ACTIVE_HIGH>, // colunma 5 de la izq
		<&gpio P111 GPIO_ACTIVE_HIGH>, // colunma 6 de la izq
		<&gpio P010 GPIO_ACTIVE_HIGH>, // colunma 7 de la izq
};

//		<&gpio P031 GPIO_ACTIVE_HIGH>, // fila 1
//		<&gpio P029 GPIO_ACTIVE_HIGH>; // fila 2
//		<&gpio P002 GPIO_ACTIVE_HIGH>, // fila 3
//		<&gpio P115 GPIO_ACTIVE_HIGH>, // fila 4
//		<&gpio P113 GPIO_ACTIVE_HIGH>, // fila 5